[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
openslide-python = "*"
matplotlib = "*"
tqdm = "*"
shapely = "*"
opencv-python = "*"
scikit-learn = "*"
spams = "*"
python-spams = "*"
numpy = "*"
staintools = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.6"
